body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 100px; /* Adjust the size of the emoji */
    transition: background-color 0.5s;
}

#flashlight {
    cursor: pointer;
}