/* Global Styles */
body {
    font-family: system-ui, sans-serif;
    margin: 0 auto;
    padding: 1em;
    max-width: 40em;
    line-height: 1.6;
}
  
header {
    font-size: 1.5em;
    font-weight: 700;
}
  
header a {
    text-decoration: none;
}
  
header a:hover {
    text-decoration: underline;
}
  
nav a {
    margin-right: 1em;
    font-weight: 500;
    text-decoration: none;
}
  
nav a:hover {
    text-decoration: underline;
}
  
/* Link Styling */
a {
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
}
  
a:hover {
    color: red;
}
  
/* Horizontal Rule */
hr {
    height: 0.1em;
    border-width: 0;
    background-color: black;
}
  
/* Headings */
h1, h2, h3, h4 {
    line-height: 1.2;
    margin-bottom: 0;
}
  
/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body, a {
      background-color: black;
      color: white;
    }
  
    hr {
      background-color: white;
    }
}
  
