body {
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", ChalkboardSE-Regular", sans-serif;
  margin: 0 auto;
  max-width: 35em;
  line-height: 1.5;
  color: #454545;
  padding: 2em 2em;
  text-align: center;
  background-color: #fffafa;
}
footer {
  font-size: small
}
img {
  border: 2px solid #454545; border-radius: 10px;
}
